version: "3.9"

services:
  postgres:
    image: postgres:16-alpine
    container_name: elysia-postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: db_crud_with_elysia
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: .
    container_name: elysia-backend
    restart: always
    depends_on:
      - postgres
    ports:
      - "3000:3000"
    env_file:
      - .env.docker
    command: sh -c "bunx prisma migrate deploy && bun run start"

volumes:
  postgres_data:
